# macOS system files
.DS_Store

# Build folders (in case you add them later)
node_modules/
worker/.wrangler/
dist/
out/

# Local secret files
code.local.js
.env
code.js
.dev.vars
.dev.vars.*

# Archives
*.zip
